#header_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-left:25px;
    padding-right:25px;
}

#brand:hover{
    cursor: pointer;
}
